import pytest
from pytest_bdd import scenario, given, when, then
from __tests__.hypermea import *
from __tests__.hypermea.sorting import *


@pytest.fixture(scope='module')
def context():
    return {}


@annotated_scenario(FEATURE_PATH, "An item's keys can be sorted")
def test_response_keys_can_be_sorted():
    pass


@given('key sorting is enabled')
def step_impl(settings_py):
    settings_py['JSON_SORT_KEYS'] = True

# Given a resource is configured with multiple keys
# Given that resource has an item in its collection

@when('a client requests that resource')
def step_impl(api, context):
    response = api.get(f'/widgets/{context["widget_id"]}')
    assert_that(response.status_code).is_equal_to(200)
    context['widget'] = response.json


@then('the keys are sorted in the response')
def step_impl(context):
    keys = list(context['widget'].keys())
    is_sorted = all([True if index == 0 else item >= keys[index - 1] for index, item in enumerate(keys)])
    assert_that(is_sorted).is_equal_to(True)
