import pytest
from pytest_bdd import scenario, given, when, then
from __tests__.hypermea.sorting import *


@pytest.fixture(scope='module')
def context():
    return {}


@annotated_scenario(FEATURE_PATH, 'Resources can be configured to sort automatically')
def test_resource_can_sort_automatically():
    pass


@given('a resource is configured to sort automatically')
def step_impl(settings_py):
    settings_py['DOMAIN'] = {
        'people': {
            'schema': {
                'name': {'type': 'string'}
            },
            'datasource': {
                'default_sort': [('name', 1)]
            }
        }
    }

# And that resource has multiple items in its collection

@when('a client requests this collection without a sort query string')
def step_impl(api, context):
    response = api.get(
        '/people'
    )
    assert_that(response.status_code).is_equal_to(200)
    context['people'] = response.json['_items']

# Then the collection in the response is sorted accordingly
