import sys
import logging
from pathlib import Path

# Add src/service to sys.path to allow `from configuration import ...` to work
service_dir = Path(__file__).resolve().parents[1] / "service"
sys.path.insert(0, str(service_dir))

import os
from typing import Any
import pytest
from pymongo import MongoClient
from hypermea.core.utils import is_mongo_running
from tests import load_settings_from_file
from hypermea_service import HypermeaService


logger = logging.getLogger()
handler = [x for x in logger.handlers if x.name == 'console'][0]
handler.setLevel(getattr(logging, 'WARNING'))


# def pytest_report_header(config):
#     message = 'This message will display at the top of the pytest report'
#     return f'🚩 {message}'


@pytest.hookimpl(tryfirst=True)
def pytest_sessionstart(session):
    if not is_mongo_running():
        pytest.exit("❌ Could not connect to MongoDB instance.  Aborting.")


@pytest.fixture(scope='function')
def hypermea_settings() -> dict[str, str]:
    return {
        'HY_API_PORT': '2113',
        'HY_MONGO_DBNAME': 'pytest',
        'HY_TRACE_LOGGING': 'Disabled',
        'HY_CACHE_CONTROL': 'no-cache, no-store, must-revalidate',
        'HY_CACHE_EXPIRES': '30',
        'HY_PAGINATION_LIMIT': '3000'
    }


@pytest.fixture(scope='module')
def settings_py() -> dict[str, Any]:
    return {}


@pytest.fixture(scope='function')
def service(hypermea_settings, settings_py):
    # allow step definitions to change hypermea settings
    for key, value in hypermea_settings.items():
        os.environ[key.upper()] = value

    # allow step definitions to change eve settings
    settings_filename = os.path.join(os.path.dirname(__file__), '../service/settings.py')
    test_settings = load_settings_from_file(settings_filename)
    for key, value in settings_py.items():
        test_settings[key.upper()] = value

    service = HypermeaService(host='0.0.0.0', debug='Disabled', settings=test_settings, threaded='Disabled', use_reloader='Disabled')
    # service.dump_settings()
    app = service._app

    def setup_database():
        pass

    def cleanup_database():
        connection = MongoClient(
            app.config.get('MONGO_HOST'), app.config.get('MONGO_PORT')
        )
        connection.drop_database(app.config.get('MONGO_DBNAME'))
        connection.close()

    cleanup_database()
    setup_database()

    yield service

    cleanup_database()


@pytest.fixture(scope='function')
def api(service):
    with service._app.test_client() as api:
        yield api
