pre {
    line-height: 1.0;
}

pre.json-table {
    line-height: 1.2;
    font-size: 8pt;
}


a.nav-list-link.active {
  background-color: #F00000;
}



.version-number {
    padding-right: 130px;
}

