from pathlib import Path
from pytest_bdd import scenario
try:
    import allure
except ImportError:
    from .mock_allure import allure

def annotated_scenario(feature_path, scenario_title):
    def decorator(func):
        test_file = Path(func.__globals__.get('__file__', '')).resolve()

        if '__tests__' not in str(test_file):
            return func

        feature_name = test_file.parent.name
        epic_name = test_file.parent.parent.name

        func = scenario(feature_path, scenario_title)(func)

        func = allure.epic(epic_name)(func)
        func = allure.feature(feature_name)(func)
        func = allure.story(scenario_title)(func)

        return func
    return decorator
