import sys
import os
import pytest

"""
Uncomment to get information that may help troubleshoot issues running tests
"""

# def test_debug_display_environment():
#     print("\n\n--- DEBUG INFO ---")
#     print("sys.path:        ", sys.path)
#     print("executable:      ", sys.executable)
#     print("env PYTHONPATH:  ", os.environ.get("PYTHONPATH"))
#     print("env VIRTUAL_ENV: ", os.environ.get("VIRTUAL_ENV"))
#     print("------------------\n\n")
