import pytest
from urllib.parse import urlparse, parse_qsl, urlencode, urlunparse
from pytest_bdd import given, when, then, parsers
from __tests__.hypermea import *
from __tests__.hypermea.pagination import *


@pytest.fixture(scope='module')
def context():
    return {}


@annotated_scenario(FEATURE_PATH, 'Client can request a page in a limited collection')
def test_client_can_select_a_page_from_a_limited_collection():
    pass

# Given a resource is configured
# And that resource has 100 items in its collection

@when(parsers.parse('a client requests page {page} of this collection with a limit of {limit:d}'))
def step_impl(api, context, page, limit):
    response = api.get(
        f'/people?max_results={limit}&page={page}'
    )
    assert_that(response.status_code).is_equal_to(200)
    context['people'] = response.json

# Then the collection in the response has <limit> items
# And the next link relation is <next_link>
# And the value of the last page is <last_page>
